.container {
    margin: 0 auto;
    widht: 900px;
}


.navbar-color{
	background-color: #0066cc;
}

.header-h1{
	color: #0066cc;
}

#navbar-moto{
	margin-left: 0px;
	margin-top: 0px;
	color: #eee;
}

.btn-positioning{

}

.search-float{
	float: right;
}
.thumbnail{
	width: 100%;
	margin-bottom: 10%;

}
.thumbnail:nth-child(3n+3){
	margin-right: 0;
}

#gifTiles{
	padding-top: 20px;
}

.gifTile{
	width: 100%;
}

.btn.active, btn:active, .btn-default:active, .btn-default.active, .btn-default.focus, .btn-default-focus .btn-default:visited{
	color: #0066cc;
	background-color: white;
}


.btn-default:hover{
	color: #0066cc;
	background-color: white;
	opacity: .85;
}
